{% extends "base.html" %}
{% block content %}



<!--/ menu  -->
<div class="main_content_iner overly_inner ">
    <div class="container-fluid p-0 ">
        <!-- page title  -->
        <div class="row">
            <div class="col-12">
                <div class="page_title_box d-flex align-items-center justify-content-between">
                    <div class="page_title_left">
                        <h3 class="f_s_30 f_w_700 dark_text">All Applications</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-12">
                <div class="white_card">
                    <div class="card-body">
                        <div class="board_wrapper">
                            <!-- single_board  -->
                            <div class="single_board">
                                <div class=" main_board_card">

                                    <div class="row board_card_list">
                                        {% for project in project_list %}
                                        <div class="col card border-0">
                                            <div class="card-body">

                                                <h5 class="f_s_16 f_w_500 mb-0">{{project.project_name}}</h5>
                                                <div class="row justify-content-center align-items-center">
                                                    <!--end col-->

                                                    <div>
                                                        <input type="checkbox" checked data-toggle="toggle"
                                                            data-on="&nbsp;On &nbsp;" data-off=" Off "
                                                            data-onstyle="success" data-offstyle="danger"
                                                            data-style="ios">
                                                        <div class="col-6 align-self-center">

                                                            <a class=" btn btn-primary"
                                                                href="/applicationinfo/{{project.project_name}}">View
                                                                Application
                                                            </a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <!-- {{project.curr_date}} -->
                                        {% endfor %}


                                        <div class="d-flex align-items-center justify-content-center">
                                            <div class="col-6 align-self-center">


                                            </div>
                                            <!--end col-->
                                            <div class="col-6 align-self-center">

                                            </div>
                                            <!--end col-->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-6 align-self-center">
                        <a class="float-right" href="#">assa
                            <div class="thumb_34 ml-1 mt-0"><img class="img-fluid radius_50" alt=""></div>
                        </a>
                    </div> -->
                    <!--end col-->
                </div>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}